link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
h1.text-primary.text-center Ingrese Producto
.container
  form(action='/api/productos/guardar' method='POST')
    .form-group
      label.font-italic.font-weight-bold(for='title') Nombre
      input#title.form-control(type='text' name='title' placeholder='Ingrese un Titulo')
    .form-group
      label.font-italic.font-weight-bold(for='price') Precio
      input#price.form-control(type='text' name='price' placeholder='Ingrese un Precio')
    .form-group
      label.font-italic.font-weight-bold(for='thumbnail') Foto URL
      input#thumbnail.form-control(type='text' name='thumbnail' placeholder='Ingrese una URL')
    button.btn.btn-success(type='submit') Guardar
  span.alert.alert-red(style= productoCargado ? "visibility: visible" : "visibility : hidden") Producto cargado correctamente
