<h2 class="text-primary text-center">Vista de Productos</h2>
<div class="container">
    {{#if hayProductos}}
    <table class="table table-dark">
        <thead>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Icono</th>
        </thead>
        <tbody>
            {{#each productos}}
            <tr>
                <td>{{this.title}}</td>
                <td>${{this.price}}</td>
                <td><img src="{{this.thumbnail}}" width="50px" height="50px"></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
    <div class="container-fluid">
        <h2 class="alert alert-danger text-center">No hay productos cargados</h2>
    </div>
    {{/if}}
</div>